<div id="<%= dom_id tariff %>">
  <p>
    <strong>Title:</strong>
    <%= tariff.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= tariff.price %>
  </p>

  <p>
    <strong>Active tariff:</strong>
    <%= tariff.active_tariff_id %>
  </p>

</div>
